* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 h1 {
    background-color: lightslategray;
    color: lightsalmon;

}

ul {
    float: right;
}
ul li {
    margin: auto;
    display: inline-block;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: lightsalmon;
}

h1 {
    text-align: center;
}





